.card-container {
  grid-gap: 40px 40px;
  /* main card container class */
  display: grid;
  grid-auto-rows: auto;
}

#skills-card-container {
  /* for my language logos */
  grid-template-columns: repeat(4, 1fr);
}

.card {
  align-items: center;
  background: rgb(82, 82, 82);
  box-shadow: 5px 5px 15px coral, -5px -5px 15px cornflowerblue;
  /* individual grid elements. */
  display: flex;
  font-size: 80px;
  height: 150px;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  width: 150px;
}

#skills .card:hover {
  animation: card-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#projects-card-container {
  /* cards for my projects */
  grid-template-columns: repeat(3, 1fr);
}

#projects .card {
  font-size: 30px;
  height: 223.33px;
  width: 223.33px;
}

@media screen and (max-width: 600px) {
  .card {
    height: 130px;
    width: 130px;
  }

  #skills-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-container {
    justify-content: space-evenly;
    margin: 20px;
  }

  #projects .card {
    font-size: 20px;
    height: 130px;
    width: 130px;
  }

  #projects-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
