@import "./banner.css";
@import "./card.css";
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

* {
  font-family: 'Roboto Mono';
  color: black;
}

a {
  text-decoration: none;
}
a:hover {
  font-size: 1.2em;
}

nav a, .standard-grid a{
  border-bottom: 1px solid black;
}

.standard-grid {
  /* This class is a grid with two columns which allow me to format images beside text throughout the site. */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.standard-grid figure, article {
  align-self: center;
  justify-self: flex-end;
}

.standard-grid.reverse figure {
  justify-self: flex-start;
}

/* .reverse-blog-list {
  justify-self: flex-start !important;
} */

body {
  width: calc(100vw);
  background: white;
}

main, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  top: 30px;
  position: relative;
  width: 100%;
}

.icon {
  width: 70px;
  height: 70px;
}
#contact {
  text-align: center;
}

.blog-post img {
  margin-bottom: 20px;
}

figure {
  margin: 0;
}

@keyframes card-hover {
  /* This animation allows the cards in my skills section to enlarge upon hovering. */
  100% {
    height: 170px;
    width: 170px;
    font-size: 140px;
  }
}

h1 {
  text-align: center;
  font-size: 80px;
  z-index: 3;
}

#circle h1 {
  color: white;
}

h2 {
  margin: 30px 0 40px 0;
  width: 100%;
}

#contact h2 {
  text-align: start;
}

.h2-wrapper:hover h2 {
  animation-name: h2-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes h2-hover {
  /* This animation allows the headings of each section to animate on hover. */
  100% {
    background: -webkit-linear-gradient(coral, cornflowerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(100px,0);
  }
}

h3 {
  color: rgb(77, 77, 77);
  font-size: 13px;
}

nav {
  /* This is my navigation bar. */
  position: fixed;
  z-index: 4;
  top: 0px;
  width: 800px;
  padding: 10px 0 10px 0;
  background-color: white;
}

#navdiv {
  position: relative;
  text-align: center;
}

#profile {
  /* This is my main profile photo of myself. */
  position: relative;
  right: 30px;
  width: 300px;
  box-shadow: 10px 10px 30px rgb(240, 240, 68), -10px -10px 30px rgb(240, 240, 68) ;
}

section {
  width: 800px;
}

small {
  font-size: 10px;
}

footer {
  display: relative;
  text-align: center;
  width: 500px;
  margin-top: 40px;
}

#gpg-link {
  display: none;
  text-decoration: underline;
  margin-bottom: 30px;
  color: coral;
}

@media screen and (max-width: 600px) {

  * {
    margin: auto; 
  }

  h2, #contact h2 {
    text-align: center;
  }

  h3 {
    margin: 15px;
    text-align: center;
  }
  
  .blog-post img {
    width: calc(100% - 20px);
  }

  #contact {
    font-size: 12px;
  }

  nav {
    margin: 0;
    width: 100vw;
    left: 0px;
    font-size: 12px;
    text-align: center;
  }

  figure {
    margin: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  #profile {
    position: static;
    width: calc(100vw - 180px);
  }

  main, header {
    position: relative;
    top: 30px;
  }

  body, section{
    width: 100vw;
  }

  p, pre {
    width: calc(100vw - 50px);
  }

  pre {
    font-size: ;
  }

  footer {
    width: 300px;
  }

  .standard-grid {
    display: block;
  }

  #gpg {
    display: none;
  }

  #gpg-link {
    margin-top: 20px;
    display: block;
    font-size: 18px;
  }
}