/* This .css document outlines the styling for the elements which make up the animated banner at the top of my main page. */

#banner {
  margin-bottom: 60px;
}

#circle {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color:  rgb(240, 240, 68);
  border-radius: 50%;
}

.fancy-container {
  position: relative;
  height: 100px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#container1 {
  transform: skewY(20deg);
  position: absolute;
  z-index: 1;
  background: rgba(400,0,0,0.1);
}

#container2 {
  transform: skewY(-20deg);
  position: absolute;
  z-index: 1;
  background: rgba(100,0,0,0.1);
}

.fancy {
  height: 100px;
  width: 100px;
  margin: 10px;
  position: relative;
}

#circle:hover {
  animation-name: circle-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes circle-anime {
  100% {background: peachpuff;}
}

.fancy:hover{
  animation-name: fancy-anime;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fancy-anime {
  0%,100%: {
  }
  50% {
    transform: translate(0,-50px);
  }
}

#container1 .fancy {
  background: linear-gradient(to bottom, coral, rgba(220, 20, 60, 0.1));
}

#container2 .fancy {
  background: linear-gradient(to bottom, cornflowerblue,rgba(100, 148, 237, 0.1));
}

@media screen and (max-width: 600px) {

  #circle {
    width: 230px;
    height: 230px;
  }

  #container1 {
    top: 60px;
  }

  #container2 {
    top: 87px;
  }

  .fancy-container {
    right: -2%;
    width: 300px;
    height: 80px;
  }


  .fancy {
    height: 80px;
    width: 80px;
    margin: 5px;
  }

  

}