
.card-container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 40px 40px;
}

#skills-card-container {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: flex;
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 15px coral, -5px -5px 15px cornflowerblue ;
  background: white;
  font-size: 80px;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

#skills .card:hover {
  animation: card-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#projects-card-container  {
  grid-template-columns: repeat(3, 1fr); 
}

#projects .card {
  height: 223.33px;
  width: 223.33px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {

  .card {
    width: 130px;
    height: 130px;
  }

  #skills-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-container {
    grid-gap: 50px 25px;
  }

  #projects .card {
    height: 130px;
    width: 130px;
    font-size: 20px;
  }

  #projects-card-container  {
  grid-template-columns: 1fr 1fr; 
}

}