@import "./banner.css";
@import "./card.css";

* {
  font-family: 'Roboto Mono';
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 1.2em;
}
nav a, .standard-grid a {
  border-bottom: 1px solid black;
}


.standard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-width: 400px;
}

.standard-grid img, div {
  align-self: center;
  justify-self: flex-end;
}

.reverse-blog-list {
  justify-self: flex-start !important;
}

body {
  /* background-color:rgb(245, 163, 97); */
  top: 30px;
  /* height: calc(100vh - 40px); */
  position: relative;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact {
  text-align: center;
}

@keyframes card-hover {
  100% {
    height: 170px;
    width: 170px;
    font-size: 140px;
  }
}

h1 {
  text-align: center;
  font-size: 80px;
  margin: 20px;
  z-index: 3;
}

#circle h1 {
  color: white;
}

h2 {
  margin: 30px 0 40px 0;
  width: 100%;
}

.h2-wrapper:hover h2 {
  animation-name: h2-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes h2-hover {
  100% {
    background: -webkit-linear-gradient(coral, cornflowerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(100px,0);
  }
}

h3 {
  color: rgb(77, 77, 77);
  font-size: 13px;
}

nav {
  position: fixed;
  z-index: 4;
  top: 0px;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: white;
}

#navdiv {
  position: relative;
  display: inline;
  left: 50%;
}

#profile {
  box-shadow: 10px 10px 30px rgb(240, 240, 68), -10px -10px 30px rgb(240, 240, 68) ;
}

.section {
  width: 800px;
}



