@import "./banner.css";
@import "./card.css";

* {
  font-family: 'Roboto Mono';
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 1.2em;
}
nav a, .standard-grid a {
  border-bottom: 1px solid black;
}


.standard-grid {
  /* This class is a grid with two columns which allow me to format images beside text throughout the site. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-width: 400px;
}

.standard-grid figure, article {
  align-self: center;
  justify-self: flex-end;
}

/* .reverse-blog-list {
  justify-self: flex-start !important;
} */

body {
  width: 100vw;
  background: white;
}

main, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  top: 30px;
  position: relative;
  width: 100%;
}

#contact {
  text-align: center;
}

@keyframes card-hover {
  /* This animation allows the cards in my skills section to enlarge upon hovering. */
  100% {
    height: 170px;
    width: 170px;
    font-size: 140px;
  }
}

h1 {
  text-align: center;
  font-size: 80px;
  z-index: 3;
}

#circle h1 {
  color: white;
}

h2 {
  margin: 30px 0 40px 0;
  width: 100%;
}

#contact h2 {
  text-align: start;
}

.h2-wrapper:hover h2 {
  animation-name: h2-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes h2-hover {
  /* This animation allows the headings of each section to animate on hover. */
  100% {
    background: -webkit-linear-gradient(coral, cornflowerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(100px,0);
  }
}

h3 {
  color: rgb(77, 77, 77);
  font-size: 13px;
}

nav {
  /* This is my navigation bar. */
  position: fixed;
  z-index: 4;
  top: 0px;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: white;
}

#profile {
  /* This is my main profile photo of myself. */
  box-shadow: 10px 10px 30px rgb(240, 240, 68), -10px -10px 30px rgb(240, 240, 68) ;
}

section {
  width: 800px;
}

small {
  font-size: 10px;
}

footer {
  display: relative;
  text-align: center;
  width: 400px;
  margin-top: 40px;
}


@media screen and (max-width: 600px) {

  * {
    margin: auto; 
  }

  h2, #contact h2 {
    text-align: center;
  }

  nav {
  width: 100vw;
  left: 10px;
  }

  #profile {
  width: 300px;
  margin: 40px 0 20px 0;
  }

  body, section {
    width: 100vw;
  }

  p {
    width: calc(100vw - 80px);
  }

  footer {
    display: none;
    width: 150px;
  }

  .standard-grid {
    display: block;
  }

  #gpg {
    display: none;
  }
}